[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
joblib = "*"
google-cloud-storage = "*"
apache-airflow = {extras = ["gcp"], version = "*"}
seaborn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
